@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.preload{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease;

}
.center {
  margin: auto;
  padding: auto;
}
#audio-btn:hover{
   cursor: pointer;
}
#email{
    color:blue;
    font-size: 1em;
}
#best_result_container{
  margin: 5px;
  padding: 30px;
}
#text_preload{
  font-size: 3em;
  /* font-family: 'Architects Daughter', cursive; */
  /* font-family: 'Berkshire Swash', cursive; */
  font-family: 'Press Start 2P', cursive;
}
.container_main_img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid white;
  /* border-radius: 90px 0 90px 0; */
}

#play_area{
  padding: auto;
  /* padding-bottom: 15px; */
  height: 79vh;
  border:10px dotted gold;
}

#footer{
  position:absolute;
  bottom: 0px;
  left: 3%;
  margin-right: 5px;
    font-family: 'Architects Daughter', cursive;
}

#main_img{
  /* border-radius: 50%; */
  /* margin: 1%; */
  width: 100%;
  height: 100%;

}
.preload h3{
  position: absolute;
  top: 85%;
  transform: translateY(-75%);
  color: white;
  font-size: 30px;
  font-family:  sans-serif;
}

.preload-finish{
  pointer-events:none;
  opacity: 0;
}

#onload{
  opacity: 0;
}

#card_container{
  width:100%;
  height: 100vh;
}

#keys_img{
  position:absolute;
  bottom: 10px;
  left: 2px;
  margin-right: 5px;
}

#aside_img{
  border: 1px solid lightgray;
  width:100px;
  height: 100vh;
  min-height: 100px;
  padding-right: 5px;
}

ul >li{
  margin:2px;
}
table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  #main-sound-btn{
    border-radius: 50px;
    cursor: pointer;
  }
  h2{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
  }
  #bars-btn{
    border-radius: 50%;
    display:none;
  }
  #secondary_bar, #third_bar{
    display:none;
  }
  
  
  /* ///////////////////// */
  /* contact info css  */
  aside.sidebar .single {
    padding: 20px;
    margin-top: 20px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0; }
    aside.sidebar .single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase; }
    aside.sidebar .single h6.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #00b0ff;
    display: block;
    margin-top: 6px; }
    .single.contact-info {
   padding-left:  15px;   
    background: none;
    border: none; }
    .single.contact-info li {
      cursor: pointer;
    margin-top: 30px; }
    .single.contact-info li .icon {
    display: block;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    color: #00b0ff;
    text-align: center;
    line-height: 50px; }
    .single.contact-info li .info {
    overflow: hidden; }

    /* ///////////////////////////////////////////////// */

    @media screen and (max-width: 820px) {
      *{
        padding: 0;
        margin: 0;
        overflow-y: auto;
        box-sizing: border-box;
      }
      #text_preload{
        font-size: 1.5em;
        font-family: 'Press Start 2P', cursive;
      }
      .container_main_img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid white;
        /* border-radius: 90px 0 90px 0; */
      }
      #play_area{
        padding: 0;
        height: 450px;
        border:10px dotted gold;
      }
      #play{
        padding:0;
      }
      
      #footer{
        position:absolute;
        bottom: 0;
        left: 12%;
        font-family: 'Architects Daughter', cursive;
      }
      #about{
        overflow: auto;
      }
     
      #keys_img{
        display: none;
      }
      #aside_img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: none;
      }
      .card-img{
        width:100px;
        height:100px;
      }
      .navbar{
        width: 100%;
      }
    
      #main-sound-btn{
        color:black;
        margin-left: 20px;
      }
     
      #play-btn{
        margin: 0 5px 0 2px;
      }
      
      #basic_bar{
        display:none;
      }
      #third_bar,#secondary_bar{
        display:inline-block;
        width:100%;
        margin:0;
      }
      #collapsibleNavbar>ul>li>a{
        color:white;
      }
      #collapsibleNavbar>ul>li:hover{
        color:black;
        background:lightgray;
      }
      #collapsibleNavbar>ul>li, #collapsibleNavbar>ul>li{
        width:100%;
      }
      #play{
        margin: 30px;
      }
      .card-body{
        overflow-y: auto;
      }
      .tab-content{
        overflow-y: scroll;
      }
      .navbar{
        width: 100%;
        float:left;
      }
      .img-bar{
        width: 50px;
        height: 50px;
        border-radius: 50%;

      }
      #timer,#points{
        color:white;
        margin:3px;
      }
      #icon-trophy,#icon-clock{
        color:white;
      }
  
      #third_bar>ul>li{
        width:28%;
      }
      #contact-info{
        height: 200px;
        display: -ms-flexbox;
        display:block;
        flex-wrap: none;
        margin: 0px;
      }
      .card-body{
        padding: 0;
        margin:0;
      }
      #about-btn-2{
        width: 100%;
      }
      #third_bar>nav{
        width: 100%;
      }
      #third_bar>nav>ul>li{
         display: inline-block;
         width:30%;
      }
      #third_bar>.navbar>ul>{
        float:left;
        width:100%
      }
      
     
  }